@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

body {
    background-color: #f5f4f4;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    object-fit: cover;
}

h3 {
    color: #254d7e;
    font-family: "Russo One", sans-serif;
    text-align: center;
}

#iam {
    color: #0F3460;
}

ul {
    padding: 0;
    list-style: none;
    text-align: center;
    width: 300px;
    margin: 20px auto;
}

table {
    background-color: #E6D2B5;
    border: 1px solid #0F3460;
    width: 600px;
    margin: 20px auto;
}

td {
    border: 1px solid #0F3460;
    text-align: center;
}

#figma {
    color: #254d7e;
}

#html {
    color: #e34f26;
}

p {
    text-align: center;
}

a {
    display: block;
    width: 200px;
    text-decoration: none;
    color: #0F3460;
    margin: 20px auto;
    text-align: center;
    
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 200px;
    height: 10px;
    background-color: #254d7e;
    border-radius: 7px;

}

#logo {
    font-size: 32px;
}